*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: url('../background.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	margin: auto;	
}

ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
	margin-right: 40px;
}

ul li{
	display: inline-block;
}

ul li a{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	border: 1px solid transparent;
}

ul li a:hover{
	background-color: grey;
	color: white;
	transition: 0.6s ease;
}

.logo img{
	width: 300px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.main{
	max-width: 1200px;
	margin: auto;
}

ul li.active a{
	background-color: black;
	color: white;
}

.reg{
	text-align:left;
	margin-left: 350px;
	margin-top: 80px;
}

.reg input {
	width: 200px;
	height: 35px;
	box-sizing: border-box;
	size: 10;
}

.radio {
	margin-left: 350px;
}

.button input {
	width: 80px;
	height: 40px;
	color: white;
	background-color: green;
}

.Login {
	margin-left: 350px;
	margin-top: 80px;
	width: 200px;
	height: 35px;
	box-sizing: border-box;
	size: 10;
	text-align:left;
	margin-bottom: 10px;
	display: inline-block;
}

.Login input {
	width: 200px;
	height: 35px;
	box-sizing: border-box;
	size: 10;
}

.LoginButton input{
	width: 80px;
	height: 40px;
	margin-bottom: 250px;
	color: white;
	background-color: green;
}

.mycanvas {
	font-size: 30px;
	margin-left: 240px;
	margin-top: 60px;

}

.Audio {
	margin-left: 240px;
	margin-top: 110px;
	font-size: 30px;
}

.Video {
	margin-left: 240px;
	margin-top: 110px;
	font-size: 30px;
}

.checkbtn{
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
}

#check{
	display: none;
}

@media (max-width: 500px){

	*{
		color: aqua;
	}
	.checkbtn{
		display: block;

	}
	ul{
		position: fixed;
		width: 100%;
		height: 100%;
		background: #2c3e50;
		top: 80px;
		left: 0;
		text-align: center;
	}
	nav ul li{
		display: block;
		margin: 50px 0;

	}
	nav ul li a{
		font-size: 20px;

	}

	a:hover,a.active{
		background: none;
		color: #0082e6;

	}

	#check:checked ~ ul{
		left: 0;
	}
}